<div class="contaiaer mt-3">
<% if book.errors.any? %>
<%= book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% book.errors.full_messages.each do |message| %>
     <li><%= message %></li>
    <% end %> 
  </ul>
<% end %>
  <div class="row mx-auto">
    <div class="col-md-3">
      <%= render '/show', user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>a
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
        </thead>
       <% @users.each do |user| %>
        <tbody>
          <tr>
            <td><%= image_tag user.get_profile_image(100, 100) %></td>
            <td><%= user.name %></td>
            <td><%= link_to "Show", user_path(user) %></td>
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
  </div>
</div>