<h1>User Info</h1>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3>name<%= @user.name %></h3>
  <h3>introduction<%= @user.name %></h3>
</div>


<h1>Books</h1>
<% @books.each do |book| %>
  <div>
    <%= image_tag book.user.get_profile_image(100,100) %>
    <p>Title<%= book.title %></p>
    <p>Opinion<%= book.body %></p>
  </div>
<% end %>
