<div class="contaiaer">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <h2 class="mt3">Books</h2>
    <% if @book.errors.any? %>
      <%= @book.errors.count %>errors prohibited this obj from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %> 


      <h1>Books</h1>
      <% @books.each do |book| %>
        <div>
          <%= image_tag book.user.get_profile_image(100, 100) %>
          <p>Title</p>
          <%= link_to book.title, book_path(book.id) %>
          <p>Opinion</p>
          <%= book.body %>
        </div>
      <% end %>
    </div>
  </div>
</div>
