<div class="containar mt-3">
<% if @book.errors.any? %>
<%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
     <li><%= message %></li>
    <% end %> 
  </ul>
<% end %>
  <div class="row mx-auto">
    <div class="col-md-3">
      <%= render '/show', user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <th><%= image_tag @book.user.get_profile_image(100, 100) %><br />
                <%= link_to @user.name, user_path(@user) %></th>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path, class: "btn btn-success btn-sm" %></td>
              <td><%= link_to "Destroy", book_path(@book), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "本当に消しますか？" } %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

