<div>
<h2>User Info</h2>
<% if "#{controller_name}/#{action_name}" == "users/show" || "#{controller_name}/#{action_name}" == "books/show" %>
  <%= image_tag user.get_profile_image(100,100) %>
  <table class="table">
    <tbody>
      <tr>
        <th h3>name </h3>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <th h3>introduction</h3>
        <td><%= user.introduction %></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <%= image_tag current_user.get_profile_image(100,100) %>
  <table class="table">
    <tbody>
      <tr>
        <th h3>name </h3>
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <th h3>introduction</h3>
        <td><%= current_user.introduction %></td>
      </tr>
    </tbody>
  </table>
<% end %>

  <div class="row mx-1">
    <% if user&.id %>
      <% if user.id == current_user.id %>
        <%= link_to edit_user_path(current_user), class:'btn btn-outline-secondary btn-brock w-100', role: 'button' do %>
        <i class="fa-solid fa-user-gear"></i>
        <% end %>
      <% else %>
        <%= link_to user_path(current_user), class:'btn btn-outline-secondary btn-brock w-100', role: 'button' do %>
        <i class="fa-solid fa-user-gear"></i>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to edit_user_path(current_user), class:'btn btn-outline-secondary btn-brock w-100', role: 'button' do %>
      <i class="fa-solid fa-user-gear"></i>
      <% end %>
    <% end %>
  </div>
  

  <h2 class="mt-3">New book</h2>
  <%= form_with model: @book, url: books_path, method: :post do |f| %>
    <div class="field mt-3">
      <a>Title</a><br />
      <%= f.text_field :title %>
    </div>
    <div class="field mt-3">
      <a>Opinion</a><br />
      <%= f.text_area :body %>
    </div>
  <div class="actions mt-4">
    <%= f.submit "Submit", class:"btn btn-success btn-sm" %>
  </div>
  <% end %>
  
</div>