<div class="container">
  <div class="row">
   <div class="col-md-3">
<h2>User Info</h2>
<% if "#{controller_name}/#{action_name}" == "users/show" || "#{controller_name}/#{action_name}" == "books/show" %>
  <%= image_tag user.get_profile_image(100,100) %>
  <table class="table">
    <tbody>
      <tr>
        <th h3>name </h3>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <th h3>introduction</h3>
        <td><%= user.introduction %></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <%= image_tag current_user.get_profile_image(100,100) %>
  <table class="table">
    <tbody>
      <tr>
        <th h3>name </h3>
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <th h3>introduction</h3>
        <td><%= current_user.introduction %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<div class="row">
  <% if user.id == current_user.id %>
      <%= link_to edit_user_path(current_user), class:'btn btn-outline-secondary btn-brock w-100', role: 'button' do %>
      <i class="fa-solid fa-user-gear"></i>
      <% end %>
    </div>
  <% else %>
    <div class="button">
      <%= link_to user_path(current_user), class:'btn btn-outline-secondary btn-brock w-100', role: 'button' do %>
      <i class="fa-solid fa-user-gear"></i>
      <% end %>
    </div>
  <% end %>
</div>
</div>
</div>

