<h1>User Info</h1>

<% if "#{controller_name}/#{action_name}" == "users/show" || "#{controller_name}/#{action_name}" == "books/show" %>
  <div>
    <%= image_tag user.get_profile_image(100,100) %>
    <h3>name <%= user.name %></h3>
    <h3>introduction <%= user.introduction %></h3>
      <% if user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(current_user) %></p>
      <% else %>
        <p><%= link_to "プロフィール編集", user_path(current_user) %></p>
      <% end %>
  </div>
<% else %>
  <div>
    <%= image_tag current_user.get_profile_image(100,100) %>
    <h3>name <%= current_user.name %></h3>
    <h3>introduction <%= current_user.introduction %></h3>
    <p><%= link_to "プロフィール編集", user_path(current_user) %></p>
  </div>
<% end %>
